*{
  padding: 0;
  margin: 0;
  
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/Images/sky-blue-nature-weather.jpg');
  filter: brightness(100%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; 
  }

/* header stylings */
.city{
  max-width: 100%;
  max-height: 260px;
  align-items: center;
  font-family: 'Verdana';
  font-size: xx-large;
  position: relative;
  left: 700px;
  top:50px;
  color: white;
}

.header-textbox{
  position: relative;
  left: 900px;
  top:15px;
  height: 30px;
  width: 400px;
  border-radius: 10px;
  border-color: olive;
  text-align: center;
  color:black;
  font-size: x-large;
  letter-spacing: 5px;
  border:hidden ;
}


/* Main styling */

.main{
  padding: 8rem;
}

.card{
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(184, 225, 249);
  overflow: hidden;
  transition: transform 0.3s ease;
  width:20rem;
  height:25rem;
  padding: 3rem;
  color: rgb(88, 113, 135);
  
}
.location-name{
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: xx-large;
}

.location-region{
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: larger;
}

.temperature{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  
}
.temperature-current{
  font-weight: bolder;
  font-size: 2.5rem;
  letter-spacing: 0.07rem;
  color: rgb(59, 101, 59);
}

.happy-image{
  position: relative;
  height: 2.5rem;
  top:0.3rem;
  left:1rem;
}

.temperature-feel{
  font-weight: 400;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: 'italian';
  color: rgb(106, 126, 106);
}

.temperature-wind{
  font-weight: 400;
  margin-top: 1rem;
  font-family: 'italian';
  color: rgb(106, 126, 106);
}

.condition{
  font-weight: bold;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: 'italian';
  color: rgb(72, 52, 25);
  letter-spacing: 0.1rem;
}


/* date and time */
.date-time{
  position: absolute;
  left: 52rem;
  bottom:30rem;
}

.time{
  font-size: 4rem;
  background: linear-gradient(to bottom right, cyan 30%,palegoldenrod 55%,rgb(201, 201, 22) 15% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date{
  position: relative;
  font-size: 1.3rem;
  background: linear-gradient(to bottom right, cyan 30%,palegoldenrod 55%,rgb(201, 201, 22) 15% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top:1rem;
  left:2rem
}