*{
  padding: 0;
  margin: 0;
  background-color: #e1e8f0;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  }

/* header stylings */
.city{
  max-width: 100%;
  max-height: 260px;
  align-items: center;
  font-family: 'Verdana';
  font-size: xx-large;
  position: relative;
  left: 700px;
  top:50px;
  color: teal;
}

.header-textbox{
  position: relative;
  left: 900px;
  top:15px;
  height: 30px;
  width: 400px;
  border-radius: 10px;
  border-color: olive;
  text-align: center;
  color:teal;
  font-size: x-large;
  letter-spacing: 5px;
}